.generalSpecsText{
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1c3f9e;
    text-align: left;
}

.genSpecTxtSecond{
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #1c3f9e;
    text-align: left;
}

.genSpecTxtSecondLabel{
    font-famlily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:rgba(0, 0, 0, 0.85);
    /* font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #1c3f9e;
    text-align: left;
    margin-bottom: -5px; */
}

.imageUploadBtn{
    font-family: "Titillium Web", Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff !important;
    background-color: #E42A2F !important;
    height: 40px;
    width: 200px;
    border-radius: 3px;
    border: none;
    margin: 20px 10px 15px;
}

.imageUpdateBtn{
    font-family: "Titillium Web", Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff !important;
    background-color: #E42A2F !important;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    border: none;
    margin: 10px 3px 15px;
}

.dropdownForm{
    font-family: "Titillium Web", Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff !important;
    background-color: #E42A2F !important;
    height: 40px;
    width: 240px;
    border-radius: 3px;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    margin: 10px 3px 15px;
}

.imgOuterDiv{
    display: block;
}

.imageItem{
    display: block;
    float: left;
    margin: 3px 20px;
}

.formRowOne{
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: -10px !important
}

.formRowLast{
    position: fixed;
    bottom: 0;
    right: 0;
}

.formColOne{
    padding: 20px 0px 0px 0px !important;
    text-align: left !important;
    /* margin-left: -15px !important; */
}

.formRowsAlignment{
    margin: 6px 10px;
    justify-content: flex-start;
}

.checkBoxForm{
    /* height: 30px; */
    margin-top: 30px;
}